<div ui-view="row1-left" id="layout-two-by-three-row1-left" class="taranis4u-block block"></div>
<div ui-view="row1-middle" id="layout-two-by-three-row1-middle" class="taranis4u-block block"></div>
<div ui-view="row1-right" id="layout-two-by-three-right-top" class="taranis4u-block block"></div><br>
<div ui-view="row2-left" id="layout-two-by-three-row2-left" class="taranis4u-block block"></div>
<div ui-view="row2-middle" id="layout-two-by-three-row2-middle" class="taranis4u-block block"></div>
<div ui-view="row2-right" id="layout-two-by-three-row2-right" class="taranis4u-block block"></div><br>
<div ui-view="row3-left" id="layout-two-by-three-row3-left" class="taranis4u-block block"></div>
<div ui-view="row3-middle" id="layout-two-by-three-row3-middle" class="taranis4u-block block"></div>
<div ui-view="row3-right" id="layout-two-by-three-row3-right" class="taranis4u-block block"></div>