<h2>Latest ICT news</h2><br>
<div ng-init="assessCategory='ict-news'; assessCount=5; assessStatus='unread'" class="taranis4u-block">
	<ul ng-controller="AssessItemListCtrl">
		<li ng-repeat="assessItem in assessItems.result">
			<span class="font-monospace">{{ assessItem.created }}</span>&nbsp;
			<img ng-src="/assets/img/source_icons/{{ assessItem.source }}.gif" title="{{ assessItem.source }}" class="source-icon">&nbsp;
			<a href="{{ assessItem.link }}" target="_blank">
				<span class="bold marked">{{ assessItem.title }}</span>
			</a><br>
			<hr class="thin" ng-if="!$last">
		</li>
	</ul>
</div>
<br>
<h2>Latest regular news</h2><br>
<div ng-init="assessCategory='news'; assessCount=5; assessStatus='unread'" class="taranis4u-block">
	<ul ng-controller="AssessItemListCtrl">
		<li ng-repeat="assessItem in assessItems.result">
			<span class="font-monospace">{{ assessItem.created }}</span>&nbsp;
			<img ng-src="/assets/img/source_icons/{{ assessItem.source }}.gif" title="{{ assessItem.source }}" class="source-icon">&nbsp;
			<a href="{{ assessItem.link }}" target="_blank">
				<span class="bold marked">{{ assessItem.title }}</span>
			</a><br>
			<hr class="thin" ng-if="!$last">
		</li>
	</ul>
</div>