<div class="filter-block filter-block-separator">
	<br>
	[% IF write_right %]
	<div class="block">
		<input type="button" id="btn-add-collector" class="button" value="Add new collector">
	</div>
	[% END %]
	<div class="block align-block-right">
		<span class="bold page-title">Collectors</span>
	</div>
</div>