<div class="filter-block filter-block-separator" id="configuration-filters">
	<br>
	<div class="block align-block-right">
		<span class="bold page-title">Configuration &amp; Logging</span>
	</div>	
</div>