<div id="cve-template-content-heading" class="content-heading">
	<div id="cve-template-content-heading-description" class="block configuration-heading-default">
		<span>Description</span>
	</div>
</div>

[% IF cveTemplates.size > 0 %]
	[% FOREACH cveTemplate IN cveTemplates %]
	
		[% INCLUDE cve_template_item.tt %]
	
	[% END %]
[% ELSE %]
<div class="item-row" id="empty-row">No CVE templates found...</div>

[% END %]

<div class="action-block filter-block-separator">
	<div class="center" id="number-of-results">&mdash; [% numberOfResults %] results &mdash;</div>
</div>