<div class="filter-block filter-block-separator">
	<br>
	[% IF write_right %]
	<div class="block">
		<input type="button" id="btn-add-cve-template" class="button" value="Add new CVE template">
	</div>
	[% END %]
	<div class="block align-block-right">
		<span class="bold page-title">CVE Templates</span>
	</div>
</div>