<div class="dialog-form-wrapper block">
	<div id="dialog-error" class="[% IF !message %]hidden [% END %]ui-state-error ui-corner-all">[% message %]</div>

	<div class="dialog-title">
		<span>Notification details</span>	
	</div>
	
	<div class="block">
		<pre class="scroll-y-always font-courier border-default" id="advisory-notification-details-text">
			[% notificationText %]
		</pre>
	</div>
</div>